{%- if formid %}
<a name="{{formid}}"></a>
{% endif -%}
<form {% if formid %}id="{{formid}}" {% endif %}method="post" action="{{form.action}}" {{form.enctype|safe}}>
  <table class="form">
    <tbody>
      {% for field in form %}
      <tr class="{{field.type}}">
        <th>
          {{field.label}}
        </th>
        <td id="td-{{field.name}}">
          {{field}}
          {% if field.errors %}
          <ul class="errors">
            {% for error in field.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% elif field.description %}
          <div class="description">{{field.description|safe}}</div>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <th></th>
        <td>
          <input type="submit" name="save" value="{{submitlabel|default("Submit")}}"/>
          {% for name, label in buttons %}
          &nbsp; <input type="submit" name="{{name}}" value="{{label}}"/>
          {% endfor %}
          {% if form.errors.__all__ %}
          <ul class="errors">
            {% for error in form.errors.__all__ %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <input type="hidden" name="csrf" value="{{g.csrf}}"/>
</form>
