{% macro article(post, short=False) -%}
    <article>
      <header>
        <h1>
          <time datetime="{{post.pubdate.strftime('%Y-%m-%dT%H:%M:%SZ')}}">
            <a href="{{url_for('year_archive', year=post.pubdate.year)}}">{{post.pubdate.strftime('%Y')}}</a> /
            <a href="{{url_for('month_archive', year=post.pubdate.year, month=post.pubdate.month)}}">{{post.pubdate.strftime('%m')|nozero(True)}}</a> /
            <a href="{{url_for('day_archive', year=post.pubdate.year, month=post.pubdate.month, day=post.pubdate.day)}}">{{post.pubdate.strftime('%d')|nozero}}</a>
          </time>
          <a rel="bookmark" href="{{url_for('post', slug=post.slug)}}">{{post.title}}</a>
        </h1>
      </header>

      <section>
        {{post.blurb|markdown|safe}}
      </section>
      {% if post.body and not short %}
      <section>
        {{post.body|markdown|safe}}
      </section>
      {% elif post.body %}
        <p class="more"><a href="{{url_for('post', slug=post.slug)}}">Read More...</a></p>
      {% endif %}
    </article>
{%- endmacro %}

{% macro archive_article(post) -%}
      <article>
        <header>
          <h1>
            <time datetime="{{post.pubdate.strftime('%Y-%m-%dT%H:%M:%SZ')}}">
              <a href="{{url_for('year_archive', year=post.pubdate.year)}}">{{post.pubdate.strftime('%Y')}}</a> /
              <a href="{{url_for('month_archive', year=post.pubdate.year, month=post.pubdate.month)}}">{{post.pubdate.strftime('%m')|nozero}}</a> /
              <a href="{{url_for('day_archive', year=post.pubdate.year, month=post.pubdate.month, day=post.pubdate.day)}}">{{post.pubdate.strftime('%d')|nozero}}</a> /
            </time>
            <a rel="bookmark" href="{{url_for('post', slug=post.slug)}}">{{post.title}}</a>
          </h1>
        </header>
      </article>
{%- endmacro %}
