{% extends "base.html" %}

{% import "_macros.html" as macros with context %}

{% if start %}
{% set title = 'Posts from ' + start|datetime(fmt) %}
{% elif tag %}
{% set title = 'Posts about ' + tag %}
{% endif %}

{% block title %}{{title}} &laquo; {{super()}}{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <div id="archive">
      {% for post in posts %}
      {{macros.article(post, short=True)}}
      {% else %}
      <p><em>No posts to show.</em></p>
      {% endfor %}
    </div>
{% endblock %}
