{% extends "base.html" %}

{% import "_macros.html" as macros with context %}

{% block sidebar %}
{% include "_admin-nav.html" %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('a.confirm').click(function(event) {
          if (!confirm('Are you sure?')) {
            event.preventDefault();
            return false;
          }
          return true;
        });
      });
    </script>
{% endblock %}

{% block content %}
    <h1>Posts</h1>
    <table class="dashboard articles">
      <thead>
        <tr>
          <th>Published</th>
          <th>Title</th>
          <th>Tags</th>
          <th>Cmts</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <td>
            <input type="checkbox" disabled="disabled"{% if post.published %} checked="checked"{% endif %}/>
            <a href="{{url_for('edit_post', slug=post.slug)}}">{{post.pubdate|datetime('%Y-%m-%d')}}</a>
          </td>
          <td><a href="{{url_for('edit_post', slug=post.slug)}}">{{post.title}}</a></td>
          <td><a href="{{url_for('edit_post', slug=post.slug)}}">{{post.tags|join(', ')}}</a></td>
          <td><a href="{{url_for('edit_post', slug=post.slug)}}"></a></td>
          <td><a href="{{url_for('delete_post', slug=post.slug)}}" class="confirm"><img src="{{staticurl('delete.png')}}" width="16" height="16" class="icon"/></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Moderation Queue</h1>
    <table class="dashboard comments">
      <thead>
        <tr>
          <th>On Post</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for comment in comments %}
        <tr>
          <td><a href="{{url_for('edit_post', slug=comment.post.slug)}}">{{comment.post.title}}</a></td>
          <td>{{comment.author}}</td>
          <td>{{comment.email}}</td>
        </tr>
        <tr>
          <td colspan="3">
            <code>{{comment.body|escape}}</code>
          </td>
        </tr>
        <tr class="noborder">
          <td>
            <form class="moderate" action="{{url_for('moderate', slug=comment.post.slug, index=comment.index)}}" method="post">
              <input type="hidden" name="csrf" value="{{g.csrf}}"/>
              <input type="submit" name="approve" value="Approve"/>
            </form>
          </td>
          <td></td>
          <td>
            <form class="moderate" action="{{url_for('moderate', slug=comment.post.slug, index=comment.index)}}" method="post">
              <input type="hidden" name="csrf" value="{{g.csrf}}"/>
              <input type="submit" name="reject" value="Reject"/>
            </form>
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="3"><em>No unmoderated comments</em></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
