{% extends "base.html" %}

{% block sidebar %}
{% include "_admin-nav.html" %}
{% endblock %}

{% import "_macros.html" as macros with context %}

{% block content %}
    {% if preview %}
    <div id="preview">
    {{macros.article(post)}}
    </div>
    {% endif %}

    {% with submitlabel="Save", formid="editpost", buttons=[('preview', "Preview")] %}
    {% include "_form.html" with context %}
    {% endwith %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{staticurl('jquery-ui.css')}}"/>
    <link rel="stylesheet" href="{{staticurl('jquery.ui.datetime.css')}}"/>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{staticurl('jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{staticurl('jquery.ui.datetime.min.js')}}"></script>
    <script type="text/javascript">
      var timer = null;
      var slugurl = "{{url_for('slug_for')}}";
      function updateslug() {
        if (timer != null)
          clearTimeout(timer);
        var title = $('#title').val();
        var pubdate = $('#pubdate').val();
        var url = slugurl + '?title='
                + encodeURIComponent(title) + '&pubdate='
                + encodeURIComponent(pubdate);
        timer = setTimeout(function() {
          jQuery.get(url, function(data) {
            if (data != "")
              $('#slug').val(data);
          });
        }, 500);
      }

      $(document).ready(function() {
        $('#slug').attr('editable', 'false');

        var opts = {dateFormat: "yy-mm-dd hh:ii"};
        if (!$('#published').is(':checked')) {
          opts.value = "+0min";
        }
        $('#pubdate').datetime(opts);

        $('#pubdate').change(updateslug);
        $('#title').keyup(updateslug);

        // from http://jqueryui.com/demos/autocomplete/#multiple
        function split(value) {
          return value.split(/,\s*/);
        }

        var known_tags = {{form.known_tags|json|safe}};
        $("#tags")
          .bind("keydown", function(event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
                $(this).data("autocomplete").menu.active) {
              event.preventDefault();
            }
          })
          .autocomplete({
            minLength: 0,
            autoFocus: false,
            source: function(request, response) {
              var options = $.ui.autocomplete.filter(known_tags, split(request.term).pop());
              var used = split($('#tags').val());
              response(options.filter(function(v) { return used.indexOf(v) == -1 }));
            },
            focus: function() {
              // prevent value inserted on focus
              return false;
            },
            select: function(event, ui) {
              var terms = split(this.value);
              terms.pop();
              terms.push(ui.item.value);
              terms.push("");
              this.value = terms.join(", ");
              return false;
            }
          });
      });
    </script>
{% endblock %}
