header, hgroup, aside, section, article, time, nav, footer, dialog, figure, figcaption {
  display: block; }

html {
  overflow-y: scroll; }

body {
  margin: 0 auto;
  width: 940px;
  padding: 40px 80px 60px;
  color: #111;
  font: normal 15px/22px Helvetica, sans-serif;
  background: url("bg.png");
  background-color: #D4D1BF; }

a {
  color: #111; }

a:hover, a:focus {
  color: #630; }

h1 {
  font-family: "Istok Web", sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  margin: 20px 0px 12px 0px; }

h2 {
  font-family: "Istok Web", sans-serif;
  font-weight: normal;
  font-size: 24.7px;
  line-height: 28.5px;
  margin: 19px 0px 11.4px 0px; }

h3 {
  font-family: "Istok Web", sans-serif;
  font-weight: normal;
  font-size: 23.4px;
  line-height: 27px;
  margin: 18px 0px 10.8px 0px; }

h4 {
  font-family: "Istok Web", sans-serif;
  font-weight: normal;
  font-size: 22.1px;
  line-height: 25.5px;
  margin: 17px 0px 10.2px 0px; }

h5 {
  font-family: "Istok Web", sans-serif;
  font-weight: normal;
  font-size: 21.32px;
  line-height: 24.6px;
  margin: 16.4px 0px 9.84px 0px; }

h6 {
  font-family: "Istok Web", sans-serif;
  font-weight: normal;
  font-size: 20.8px;
  line-height: 24px;
  margin: 16px 0px 9.6px 0px; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }
h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  text-decoration: underline; }

pre {
  border: 1px solid #DDD;
  background-color: #FFF;
  padding: 8px 14px; }

pre, code {
  font: normal 92% "Menlo", "Monaco", monospace; }

ul {
  list-style-type: square;
  margin-left: 32px; }

ol {
  list-style-type: decimal;
  margin-left: 32px; }

img.icon {
  position: relative;
  top: 4px; }

#wrapper-1 {
  margin-left: -10px;
  z-index: -2;
  background-color: #F9F9F9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  max-height: 1024px;
  position: absolute;
  width: 940px; }

#wrapper-2 {
  margin-left: 5px;
  z-index: -1;
  background-color: #F9F9F9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  max-height: 1024px;
  position: absolute;
  width: 940px; }

#wrapper {
  margin-left: 0px;
  z-index: 0;
  background-color: #F9F9F9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  width: 880px;
  padding: 30px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

#header {
  text-align: center;
  border-bottom: 1px solid #EEE;
  padding-bottom: 30px;
  text-shadow: 0 1px 0 #FFF; }
  #header h1 {
    font-weight: normal;
    font-size: 80px;
    line-height: 1.2em;
    font-family: "Istok Web", sans-serif; }
    #header h1 a:hover, #header h1 a:focus {
      text-decoration: none; }
    #header h1 img {
      margin: 0px 6px; }

#sidebar {
  padding: 30px 0 40px;
  float: right;
  width: 260px;
  color: #666;
  font-family: Helvetica, sans-serif; }
  #sidebar a {
    color: #555; }
  #sidebar a:hover, #sidebar a:focus {
    color: #630; }
  #sidebar h1 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 18.98px;
    line-height: 21.9px;
    margin: 14.6px 0px 8.76px 0px;
    margin-bottom: 5px;
    color: #444; }
  #sidebar ul, #sidebar li {
    margin: 0px 0px 0px 5px;
    list-style-type: none; }
  #sidebar section {
    margin-bottom: 30px; }
    #sidebar section p {
      margin-bottom: 10px; }
    #sidebar section p:last-child {
      margin-bottom: 0px; }
    #sidebar section .about-extra {
      margin-top: 20px; }
  #sidebar section:last-child {
    margin-bottom: 0px; }
  #sidebar .boxed {
    margin-top: 41px;
    padding: 8px 8px 12px;
    border: 1px solid #DED9D4; }
  #sidebar #search {
    padding: 8px;
    margin-top: 0;
    overflow: auto;
    width: 242px; }
    #sidebar #search #search-input, #sidebar #search #search-button {
      font: normal 16px/22px "Istok Web", sans-serif;
      display: block;
      float: left;
      padding: 6px 4px;
      margin: 0;
      border: none;
      background: none; }
    #sidebar #search #search-input {
      border: 1px inset #EEE7E0;
      width: 152px;
      margin: 0 5px 0 0;
      -webkit-transition: all 0.1s linear; }
    #sidebar #search #search-button {
      border: 1px solid #EEE7E0;
      width: 75px; }
  #sidebar #tagcloud h1 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 24.7px;
    line-height: 28.5px;
    margin: 19px 0px 11.4px 0px;
    display: inline-block;
    margin: 0px 5px; }
  #sidebar #tagcloud h2 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 22.1px;
    line-height: 25.5px;
    margin: 17px 0px 10.2px 0px;
    display: inline-block;
    margin: 0px 5px; }
  #sidebar #tagcloud h3 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 20.28px;
    line-height: 23.4px;
    margin: 15.6px 0px 9.36px 0px;
    display: inline-block;
    margin: 0px 5px; }
  #sidebar #tagcloud h4 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 18.98px;
    line-height: 21.9px;
    margin: 14.6px 0px 8.76px 0px;
    display: inline-block;
    margin: 0px 5px; }
  #sidebar #tagcloud h5 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 16.9px;
    line-height: 19.5px;
    margin: 13px 0px 7.8px 0px;
    display: inline-block;
    margin: 0px 5px; }
  #sidebar #tagcloud h6 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 15.08px;
    line-height: 17.4px;
    margin: 11.6px 0px 6.96px 0px;
    display: inline-block;
    margin: 0px 5px; }
  #sidebar #tagcloud h1:first-child {
    display: block;
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 18.98px;
    line-height: 21.9px;
    margin: 14.6px 0px 8.76px 0px; }

#main {
  float: left;
  overflow: hidden;
  padding: 30px 0 40px;
  width: 590px;
  padding-right: 17px;
  border-right: 1px solid #EEE; }
  #main ul.messages {
    margin: 0px;
    padding: 0px; }
    #main ul.messages li {
      list-style: none;
      margin-left: 0px;
      margin-bottom: 8px;
      padding: 6px 6px 4px 30px;
      border: 1px solid #333; }
    #main ul.messages li.success {
      background: url("li_success.png") 8px 8px no-repeat;
      background-color: #cfc; }
    #main ul.messages li.warning {
      background: url("li_warning.png") 8px 8px no-repeat;
      background-color: #ffc; }
    #main ul.messages li.error {
      background: url("li_error.png") 8px 8px no-repeat;
      background-color: #fcc; }
    #main ul.messages li.info {
      background: url("li_info.png") 8px 8px no-repeat;
      background-color: #c0d9f0; }

#after-articles {
  padding-top: 30px; }

#articles article {
  padding-bottom: 10px;
  border-bottom: 1px dotted #E5E5E5;
  margin-bottom: 20px; }
  #articles article header {
    color: #989592;
    font: normal 30px/40px "Istok Web", sans-serif;
    margin-bottom: 15px; }
    #articles article header time {
      font-size: 60%; }
      #articles article header time a {
        color: #777; }
      #articles article header time a:focus, #articles article header time a:hover {
        color: #323130; }
  #articles article section p > img:first-child {
    position: relative;
    margin-left: 5%;
    max-width: 85%;
    background: white;
    padding: 10px;
    border: 1px solid #999; }
  #articles article #comments {
    border-top: 1px dotted #E5E5E5; }
    #articles article #comments > h1 {
      font-family: "Istok Web", sans-serif;
      font-weight: normal;
      font-size: 22.1px;
      line-height: 25.5px;
      margin: 17px 0px 10.2px 0px;
      font-style: italic; }
    #articles article #comments .comment {
      padding: 10px;
      border: 1px solid #E5E5E5;
      border-bottom: none; }
      #articles article #comments .comment .by {
        font-size: 85%;
        margin-top: 0px;
        font-style: italic;
        padding-left: 10px; }
    #articles article #comments .comment.first {
      border-top: 1px solid #E5E5E5; }
  #articles article .tags .untagged {
    color: #777; }
  #articles article blockquote {
    font-style: italic;
    margin-bottom: 15px;
    border-left: 2px solid #ccc;
    padding-left: 20px; }
    #articles article blockquote table, #articles article blockquote pre, #articles article blockquote blockquote, #articles article blockquote ul, #articles article blockquote ol, #articles article blockquote p {
      margin-bottom: 10px; }
  #articles article table, #articles article pre, #articles article blockquote, #articles article ul, #articles article ol, #articles article p {
    margin-bottom: 15px; }
  #articles article pre code {
    /* Comment */
    /* Error */
    /* Keyword */
    /* Operator */
    /* Comment.Multiline */
    /* Comment.Preproc */
    /* Comment.Single */
    /* Comment.Special */
    /* Generic.Deleted */
    /* Generic.Emph */
    /* Generic.Error */
    /* Generic.Heading */
    /* Generic.Inserted */
    /* Generic.Output */
    /* Generic.Prompt */
    /* Generic.Strong */
    /* Generic.Subheading */
    /* Generic.Traceback */
    /* Keyword.Constant */
    /* Keyword.Declaration */
    /* Keyword.Namespace */
    /* Keyword.Pseudo */
    /* Keyword.Reserved */
    /* Keyword.Type */
    /* Literal.Number */
    /* Literal.String */
    /* Name.Attribute */
    /* Name.Builtin */
    /* Name.Class */
    /* Name.Constant */
    /* Name.Decorator */
    /* Name.Entity */
    /* Name.Exception */
    /* Name.Function */
    /* Name.Label */
    /* Name.Namespace */
    /* Name.Tag */
    /* Name.Variable */
    /* Operator.Word */
    /* Text.Whitespace */
    /* Literal.Number.Float */
    /* Literal.Number.Hex */
    /* Literal.Number.Integer */
    /* Literal.Number.Oct */
    /* Literal.String.Backtick */
    /* Literal.String.Char */
    /* Literal.String.Doc */
    /* Literal.String.Double */
    /* Literal.String.Escape */
    /* Literal.String.Heredoc */
    /* Literal.String.Interpol */
    /* Literal.String.Other */
    /* Literal.String.Regex */
    /* Literal.String.Single */
    /* Literal.String.Symbol */
    /* Name.Builtin.Pseudo */
    /* Name.Variable.Class */
    /* Name.Variable.Global */
    /* Name.Variable.Instance */
    /* Literal.Number.Integer.Long */ }
    #articles article pre code .hll {
      background-color: #ffffcc; }
    #articles article pre code .c {
      color: #60a0b0;
      font-style: italic; }
    #articles article pre code .err {
      border: 1px solid #FF0000; }
    #articles article pre code .k {
      color: #007020;
      font-weight: bold; }
    #articles article pre code .o {
      color: #666666; }
    #articles article pre code .cm {
      color: #60a0b0;
      font-style: italic; }
    #articles article pre code .cp {
      color: #007020; }
    #articles article pre code .c1 {
      color: #60a0b0;
      font-style: italic; }
    #articles article pre code .cs {
      color: #60a0b0;
      background-color: #fff0f0; }
    #articles article pre code .gd {
      color: #A00000; }
    #articles article pre code .ge {
      font-style: italic; }
    #articles article pre code .gr {
      color: #FF0000; }
    #articles article pre code .gh {
      color: #000080;
      font-weight: bold; }
    #articles article pre code .gi {
      color: #00A000; }
    #articles article pre code .go {
      color: #808080; }
    #articles article pre code .gp {
      color: #c65d09;
      font-weight: bold; }
    #articles article pre code .gs {
      font-weight: bold; }
    #articles article pre code .gu {
      color: #800080;
      font-weight: bold; }
    #articles article pre code .gt {
      color: #0040D0; }
    #articles article pre code .kc {
      color: #007020;
      font-weight: bold; }
    #articles article pre code .kd {
      color: #007020;
      font-weight: bold; }
    #articles article pre code .kn {
      color: #007020;
      font-weight: bold; }
    #articles article pre code .kp {
      color: #007020; }
    #articles article pre code .kr {
      color: #007020;
      font-weight: bold; }
    #articles article pre code .kt {
      color: #902000; }
    #articles article pre code .m {
      color: #40a070; }
    #articles article pre code .s {
      color: #4070a0; }
    #articles article pre code .na {
      color: #4070a0; }
    #articles article pre code .nb {
      color: #007020; }
    #articles article pre code .nc {
      color: #0e84b5;
      font-weight: bold; }
    #articles article pre code .no {
      color: #60add5; }
    #articles article pre code .nd {
      color: #555555;
      font-weight: bold; }
    #articles article pre code .ni {
      color: #d55537;
      font-weight: bold; }
    #articles article pre code .ne {
      color: #007020; }
    #articles article pre code .nf {
      color: #06287e; }
    #articles article pre code .nl {
      color: #002070;
      font-weight: bold; }
    #articles article pre code .nn {
      color: #0e84b5;
      font-weight: bold; }
    #articles article pre code .nt {
      color: #062873;
      font-weight: bold; }
    #articles article pre code .nv {
      color: #bb60d5; }
    #articles article pre code .ow {
      color: #007020;
      font-weight: bold; }
    #articles article pre code .w {
      color: #bbbbbb; }
    #articles article pre code .mf {
      color: #40a070; }
    #articles article pre code .mh {
      color: #40a070; }
    #articles article pre code .mi {
      color: #40a070; }
    #articles article pre code .mo {
      color: #40a070; }
    #articles article pre code .sb {
      color: #4070a0; }
    #articles article pre code .sc {
      color: #4070a0; }
    #articles article pre code .sd {
      color: #4070a0;
      font-style: italic; }
    #articles article pre code .s2 {
      color: #4070a0; }
    #articles article pre code .se {
      color: #4070a0;
      font-weight: bold; }
    #articles article pre code .sh {
      color: #4070a0; }
    #articles article pre code .si {
      color: #70a0d0;
      font-style: italic; }
    #articles article pre code .sx {
      color: #c65d09; }
    #articles article pre code .sr {
      color: #235388; }
    #articles article pre code .s1 {
      color: #4070a0; }
    #articles article pre code .ss {
      color: #517918; }
    #articles article pre code .bp {
      color: #007020; }
    #articles article pre code .vc {
      color: #bb60d5; }
    #articles article pre code .vg {
      color: #bb60d5; }
    #articles article pre code .vi {
      color: #bb60d5; }
    #articles article pre code .il {
      color: #40a070; }
#articles #preview article {
  border: 2px dashed #999;
  background: #F3F2E0;
  padding: 0px 10px;
  margin-bottom: 40px; }
  #articles #preview article h1:first-child {
    margin-top: 10px; }
#articles article:last-child {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0; }
#articles #archive {
  margin-top: 2em; }
  #articles #archive h1 {
    font-family: "Istok Web", sans-serif;
    font-weight: normal;
    font-size: 23.4px;
    line-height: 27px;
    margin: 18px 0px 10.8px 0px; }
    #articles #archive h1 time {
      font-size: 80%; }
  #articles #archive article {
    margin-bottom: 10px;
    padding: 0px;
    border: none; }
    #articles #archive article header, #articles #archive article h1 {
      margin: 0px; }
    #articles #archive article time {
      display: inline-block; }

footer {
  color: #999;
  padding-top: 40px;
  text-align: center; }
  footer a {
    color: #777; }
  footer a:focus, footer a:hover {
    color: #630; }
  footer p {
    margin-bottom: 10px; }

/* admin */
table.form {
  width: 100%; }
  table.form > tbody > tr > td, table.form > tbody > tr > th {
    font: normal 19px/26px Helvetica, sans-serif;
    padding-bottom: 6px; }
  table.form > tbody > tr > th {
    width: 100px;
    text-align: right;
    vertical-align: top;
    padding-top: 5px; }
  table.form > tbody > tr > td {
    width: 470px;
    padding-left: 20px; }
    table.form > tbody > tr > td .description {
      font-size: 13px;
      color: #777;
      margin-top: 8px; }
    table.form > tbody > tr > td .description:before {
      content: "↑ "; }
  table.form input[type="text"], table.form input[type="password"], table.form textarea {
    font: normal 16px/22px "Istok Web", sans-serif;
    padding: 6px 4px;
    margin: 0;
    background: none;
    border: 1px inset #EEE7E0;
    width: 450px;
    margin: 0 5px 0 0; }
  table.form input[type="submit"] {
    font: normal 16px/22px "Istok Web", sans-serif;
    padding: 4px 18px;
    margin: 0;
    background: none;
    border: 1px solid #EEE7E0; }
  table.form input[type="checkbox"] {
    position: relative;
    top: 4px; }
  table.form textarea {
    font: normal 12px/17px "Menlo", "Monaco", monospace;
    height: 300px; }
  table.form textarea#blurb {
    height: 165px; }
  table.form ul.errors {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    font-size: 15px;
    color: #c33;
    list-style-type: none;
    margin: 0px; }
    table.form ul.errors li:before {
      content: "↑ "; }
  table.form .ui-datetime td, table.form .ui-datetime th {
    font-size: 0.75em; }
  table.form .ui-datetime-title {
    font-size: 0.75em; }
  table.form .ui-widget.ui-datetime-calendar {
    width: 12.75em !important; }

table.dashboard {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%; }
  table.dashboard th, table.dashboard td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 2px 5px; }
  table.dashboard th {
    text-align: left; }
  table.dashboard td:first-child {
    white-space: nowrap; }
  table.dashboard.comments td:first-child {
    white-space: normal; }
  table.dashboard .noborder td {
    border: none; }
  table.dashboard .noborder td:first-child {
    padding-left: 5px; }
  table.dashboard .noborder td:last-child {
    text-align: right;
    padding-right: 5px; }
  table.dashboard textarea {
    width: 99%;
    height: 200px;
    font-family: monospace; }
